OPENAI_API_KEY=
DATABASE_URL=postgresql://username:userpassword@db:5432/ragdb
CHUNK_SIZE=500
CHUNK_OVERLAP=100
OPENAI_MODEL=gpt-4o-mini
OPENAI_EMBEDDING_MODEL=text-embedding-3-small
SIMILARITY_SEARCH_K=4